@page "/logins"


@using API.Services;
@using Database.Models;
@using PasswordManager.Shared.Table

@inject VaultLoginService VaultLoginService

@if (logins == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Header Text="Logins">
        <NavLink href="logins/create">
            <Button Text="New Login" />
        </NavLink>
    </Header>
    <div>
        <Table>
            <TableHead>
                <TableRow>
                    <TableHeader>Name</TableHeader>
                    <TableHeader>Description</TableHeader>
                    <TableHeader>URL</TableHeader>
                    <TableHeader>Email</TableHeader>
                </TableRow>
            </TableHead>
            <TableBody>
                @foreach (var login in logins)
                {
                    <TableRow Color="bg-white">
                        <TableCell RoundDirection="l">@login.Name</TableCell>
                        <TableCell>@login.Description</TableCell>
                        <TableCell>@login.URL</TableCell>
                        <TableCell RoundDirection="r">@login.Email</TableCell>
                    </TableRow>
                }
            </TableBody>
        </Table>
    </div>
}

@code {
    private IEnumerable<VaultLogin> logins;

    protected override void OnInitialized()
    {
        logins = VaultLoginService.GetAll();
    }
}
