@page "/logins"


@using API.Services;
@using Database.Models;

@inject VaultLoginService VaultLoginService

@if (logins == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Header Text="Logins">
        <NavLink href="logins/create">
            <Button Text="New Login" />
        </NavLink>
    </Header>
    <div class="overflow-y-auto h-full">
        <table class="table-auto w-full border-separate border-spacing-y-4">
            <thead class="font-medium text-left tracking-wider">
                <tr>
                    <th class="p-3 text-left">Name</th>
                    <th class="p-3 text-left">Description</th>
                    <th class="p-3 text-left">URL</th>
                    <th class="p-3 text-left">Email</th>
                </tr>
            </thead>
            <tbody class="">
                @foreach (var login in logins)
                {
                    <tr class="bg-white">
                        <td class="p-3 rounded-l-md">@login.Name</td>
                        <td class="p-3">@login.Description</td>
                        <td class="p-3">@login.URL</td>
                        <td class="p-3 rounded-r-md">@login.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private IEnumerable<VaultLogin> logins;

    protected override void OnInitialized()
    {
        logins = VaultLoginService.GetAll();
    }
}
