<div class="top-row ps-3 relative flex flex-wrap items-center content-between py-3 px-4 text-white">
    <div class="container mx-auto sm:px-4 max-w-full mx-auto sm:px-4">
        <a class="inline-block pt-1 pb-1 mr-4 text-lg whitespace-no-wrap" href="">PasswordManager</a>
    
    </div>
</div>

<div >
    <nav class="flex-col text-white">
        <div class=" px-3">
            <NavLink class="inline-block py-2 px-4 no-underline" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        <div class=" px-3">
            <NavLink class="inline-block py-2 px-4 no-underline" href="account">
                Account
            </NavLink>
        </div>
        <div class=" px-3">
            <NavLink class="inline-block py-2 px-4 no-underline" href="logins">
                Logins
            </NavLink>
        </div>
        <div class=" px-3">
            <NavLink class="inline-block py-2 px-4 no-underline" href="notes">
               Notes
            </NavLink>
        </div>
        <div class=" px-3">
            <NavLink class="inline-block py-2 px-4 no-underline" href="settings">
                Settings
            </NavLink>
        </div>
    </nav>
</div>

