
<div class="ps-3 relative flex flex-wrap items-center content-between py-4 px-4 text-white">
    <div class="container mx-auto sm:px-4 max-w-full mx-auto sm:px-4">
        <a class="inline-block pt-1 pb-1 mr-4 text-lg whitespace-no-wrap" href="">PasswordManager</a>
    
    </div>
</div>

<div>
    <nav class="flex-col text-white grow">
        <div class=" px-3">
            <NavLink class="inline-block py-2 px-4 no-underline" href="" Match="NavLinkMatch.All">
                <img alt="home" src="assets/images/home.svg" />
                Home
            </NavLink>
        </div>
        <div class=" px-3">
            <NavLink class="inline-block py-2 px-4 no-underline" href="account" Match="NavLinkMatch.Prefix">
                <img alt="account" src="assets/images/account.svg" />
                Account
            </NavLink>
        </div>
        <div class=" px-3">
            <NavLink class="inline-block py-2 px-4 no-underline" href="logins" Match="NavLinkMatch.Prefix">
                <img alt="logins" src="assets/images/logins.svg" />
                Logins
            </NavLink>
        </div>
        <div class=" px-3">
            <NavLink class="inline-block py-2 px-4 no-underline" href="notes" Match="NavLinkMatch.Prefix">
                <img alt="notes" src="assets/images/notes.svg" />
               Notes
            </NavLink>
        </div>
        <div class=" px-3">
            <NavLink class="inline-block py-2 px-4 no-underline" href="settings" Match="NavLinkMatch.Prefix">
                <img alt="settings" src="assets/images/settings.svg" />
                Settings
            </NavLink>
        </div>
    </nav>
</div>

