@page "/notes/create"

@inherits ProtectedPage

@inject ILogger<Create> Logger
@inject VaultNoteService VaultNoteService
@inject AuthStateContainer AuthStateContainer

<Header Text="New Note" />

<EditForm Model="@Model" OnSubmit="@Submit" class="flex flex-col gap-1">

    <label for="name">
        Name:<br>
        <InputText @bind-Value="Model!.Name" id="name" class="rounded-md focus:border-primary outline-none" />
    </label>

    <label for="description">
        Description:<br>
        <InputTextArea @bind-Value="Model!.Description" id="description" class="rounded-md focus:border-primary outline-none" />
    </label>


    <label for="note">
        Note:<br>
        <InputTextArea @bind-Value="Model!.Note" id="note" class="rounded-md focus:border-primary outline-none" />
    </label>

    <Button Text="Save" Type="submit" />
</EditForm>

@code {
    public VaultNoteModel Model { get; set; }

    protected override void OnInitialized()
    {
        InitialiseModel();
    }

    private void InitialiseModel()
    {
        Model = new()
        {
            Name = "",
            Description = "",
            Note = "",
        };
    }

    private void Submit()
    {
        try 
        {
            Logger.LogInformation("Form Submitted");

            var dto = new CreateVaultNoteDto()
            {
                UserId = AuthStateContainer.LoggedInUser.Id,
                Name = Model.Name,
                Description = Model.Description,
                Note = Model.Note
            };
            var vaultNote = VaultNoteService.Create(dto);

            Logger.LogInformation($"Created vault note: {vaultNote.Id}");

            InitialiseModel();
        }
        catch (Exception e)
        {
            Logger.LogError($"Error creating note: {e.Message}");
        }
    }
}
