@page "/notes"

@using API.Services;
@using Database.Models;
@using PasswordManager.Shared.Table

@inject VaultNoteService VaultNoteService


@if (notes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Header Text="Notes">
        <NavLink href="notes/create">
            <Button Text="New Note" />
        </NavLink>
    </Header>
     <div>
        <Table>
            <TableHead>
                <TableRow>
                    <TableHeader>Name</TableHeader>
                </TableRow>
            </TableHead>
            <TableBody>
                @foreach (var note in notes)
                {
                    <TableRow Color="bg-white">
                        <TableCell RoundDirection="l">@note.Name</TableCell>
                    </TableRow>
                }
            </TableBody>
        </Table>
    </div>
}

@code {
    private IEnumerable<VaultNote> notes;

    protected override void OnInitialized()
    {
        notes = VaultNoteService.GetAll();
    }
}
