@page "/fetchdata"

@using PasswordManager.Data
@using PasswordManager.Models;
@using PasswordManager.Services;

@inject UserService UserService
@inject ILogger<FetchData> logger;

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Users (@users.Count())</h1>

    <p>This component demonstrates fetching data from a service.</p>
}

@code {
    private IEnumerable<User> users;

    protected override async Task OnInitializedAsync()
    {
        logger.LogDebug("Fetching users");
        users = await UserService.GetUsers();
        logger.LogDebug($"Received Users: {users.Count()}");
    }
}
